# Data folders
data/
raw/
processed/

# Model weights
*.pt
*.pth
*.pkl

# Checkpoints
checkpoints/

# Database
*.db

# Environment variables
*.env

# Python cache
__pycache__/
*.pyc

# VSCode
.vscode/

# Logs
*.log